body {
    color: #001028;
    background: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-family: Arial;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

header {
    padding: 10px 0;
    margin-bottom: 30px;
}

form table {
    margin-left: auto;
    margin-right: auto;
}


h1 {
    border-top: 1px solid #5D6975;
    border-bottom: 1px solid #5D6975;
    color: #5D6975;
    font-size: 2.4em;
    line-height: 1.4em;
    font-weight: normal;
    text-align: center;
    margin-top: 0;
}


main table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}

main table tbody tr:nth-child(2n-1) td {
    background: #F5F5F5;
}

main table th {
    padding: 5px 20px;
    color: #5D6975;
    border-bottom: 1px solid #C1CED9;
    white-space: nowrap;
    font-weight: normal;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
}

main table .id {
    text-align: center;
    width: 10%;
}

main table .name {
    text-align: left;
    width: calc(50% - 120px - 28px);
}

main table .quantity {
    text-align: right;
    width: 15%;
}

main table .price {
    text-align: right;
    width: 10%;
}

main table tbody .total, main table tfoot .totalValue {
    text-align: right;
    width: 15%;
    padding-right: 28px;
}

main table .operation {
    text-align: center;
    width: 40px;
}

main table td {
    padding: 8px 10px;
    text-align: right;
    font-size: 1.2em;
}

main table td p span[data-editable]:hover {
    font-weight: bold;
}

td p {
    padding: 0;
    margin: 0;
}

main td input {
    padding: 0;
    margin: 0;
    width: calc(100% - 4ex);

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

main td button {
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 0px 8px;
    margin: 4px 0;
}

main table .no-padding {
    padding: 0;
}

main table tbody tr {
    border-top: 1px solid #b9b9b9;

}

main table tfoot tr {
    border-top: 1px solid #5D6975;
    background: #C1CED9;
    font-style: italic;
}

.error {
    color: red;
}